<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>4C</string>
	<string>4Cs</string>
	<string>4D</string>
	<string>4Ds</string>
	<string>4E</string>
	<string>4F</string>
	<string>4Fs</string>
	<string>4G</string>
	<string>4Gs</string>
	<string>5A</string>
	<string>5As</string>
	<string>5B</string>
</array>
</plist>
